<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Ficha de Vuelo Soy Add</h4>
        </div>
        <div class="modal-body">
            <form name="crear_ficha">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="tab_1" class="active"><a href="" data-target="#vuelo" aria-controls="vuelo" role="tab" data-toggle="tab">Vuelo</a></li>
                        <li role="presentation" id="tab_2"><a href="" data-target="#ficha" aria-controls="ficha" role="tab" data-toggle="tab">Ficha</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="vuelo">
                            <div class="row"><br>
                                <div class="col-md-10 col-md-offset-1">
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-2 control-label">Piloto</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="" ng-model="fr.pilot" class="form-control" 
                                                   typeahead-on-select="setSelected($item)"
                                                   uib-typeahead="pilot.name for pilot in pilots | filter:$viewValue | limitTo:8" 
                                                   required pattern=".{2,}">
                                            <br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-2 control-label">Instructor</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="" ng-model="fr.instructor" class="form-control"
                                                   uib-typeahead="instructor for instructor in instructors | filter:$viewValue | limitTo:8"
                                                   pattern=".{2,}">
                                            <div class="error-message"
                                                 ng-show="crear_ficha.$invalid && !crear_ficha.$pristine">
                                                We need a name with 2 chars or more.
                                            </div><br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-2 control-label">Aeronave</label>
                                        <div class="col-sm-4">
                                            <select ng-model="fr.aircraft" class="form-control" ng-change="show()" required>       
                                                <option value="{{aircraft.id}}" ng-repeat="aircraft in aircrafts">{{aircraft.registration}}</option>
                                            </select><br>
                                        </div>
                                        <label class="col-sm-2 control-label">Propósito</label>
                                        <div class="col-sm-4">
                                            <select ng-model="fr.flightPurpose" class="form-control">
                                                <option value="{{flightPurpose[0]}}" ng-repeat="flightPurpose in flightPurposes">{{flightPurpose[1]}}</option>
                                            </select><br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-2 control-label">Carácter</label>
                                        <div class="col-sm-4">
                                            <select ng-model="fr.flightNature" class="form-control">
                                                <option value="{{flightNature[0]}}" ng-repeat="flightNature in flightNatures">{{flightNature[1]}}</option>
                                            </select><br>
                                        </div>
                                        <label class="col-sm-2 control-label">Tipo</label>
                                        <div class="col-sm-4">
                                            <select ng-model="fr.flightType" class="form-control">
                                                <option value="{{flightType[0]}}" ng-repeat="flightType in flightTypes">{{flightType[1]}}</option>
                                            </select><br>
                                        </div>
                                    </div>
                                </div><!-- /.col-lg-12 -->
                            </div><!-- /.row -->                           
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ficha">    
                            <div class="row"><br>
                                <div class="col-md-10 col-md-offset-1">
                                    <!-- Text input-->
                                    <div class="form-group-sm"> <!--ng-class="{'form-group-sm has-error': crear_ficha.$invalid}"-->
                                        <label class="col-sm-3 control-label">Fecha Inicio</label>
                                        <div class="col-sm-3"> <!-- ng -pattern="^(0[1-9]|1\d|2\d|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$"-->
                                            <input type="text" placeholder="dd/mm/aaaa" ng-model="fr.startDate" class="form-control has-error" required valid-date><br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-3 control-label">Hora Inicio</label>
                                        <div class="col-sm-3">
                                            <input type="text" placeholder="hh:mm" ng-model="fr.startTime" class="form-control" required 
                                                   valid-time><br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-3 control-label" ng-click="setSelected(2)">Fecha Fin</label>
                                        <div class="col-sm-3"> <!--ng-model="fr.endDate"-->
                                            <input type="text" placeholder="dd/mm/aaaa" ng-model="fr.endDate"  class="form-control" valid-date><br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-3 control-label">Hora Fin</label>
                                        <div class="col-sm-3">
                                            <input type="text" placeholder="hh:mm" ng-model="fr.endTime" class="form-control" valid-time><br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-2 control-label">Desde</label>
                                        <div class="col-sm-4">
                                            <input type="text" ng-model="fr.from" placeholder="" class="form-control"><br>
                                        </div>
                                        <label class="col-sm-2 control-label">Hasta</label>
                                        <div class="col-sm-4">
                                            <input type="text" ng-model="fr.to" placeholder="" class="form-control"><br>
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-2 control-label">Aterrizajes</label>
                                        <div class="col-sm-4">
                                            <input type="text" ng-model="fr.landings" placeholder="" class="form-control"><br>
                                        </div>
                                        <label class="col-sm-2 control-label">Tiempo</label>
                                        <div class="col-sm-4">
                                            <input type="text" ng-model="fr.amountOfHours" placeholder="" class="form-control"><br>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group-sm">
                                        <label class="col-sm-2 control-label">
                                            Concluída
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="checkbox" ng-model="fr.isClosed" ng-click="calculateAmount()">
                                            <br>
                                        </div>
                                        <label class="col-sm-2 control-label">Valor</label>
                                        <div class="col-sm-4">
                                            <pre class="form-control">{{fr.amountOfHours * 1545 | currency:"$":2}}</pre>
                                        </div>
                                    </div>
                                </div><!-- /.col-lg-12 -->
                            </div><!-- /.row -->                           
                        </div>
                    </div>
                </div>    
            </form>
        </div>
        <div class="modal-footer">
            <button id="cancel" type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Cancelar</button>
            <button id="save" type="button" class="btn btn-primary" ng-disabled="crear_ficha.$invalid" ng-click="create()" >Crear</button>
        </div>
    </div>
</div>