<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Pago</h4>
        </div>
        <div class="modal-body">
            <form name="crear_ficha">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="tab_1" class="active">
                            <a href="" data-target="#vuelo" aria-controls="records" role="tab" data-toggle="tab">
                                Items
                            </a>
                        </li>
                        <li role="presentation" id="tab_2">
                            <a href="" data-target="#ficha" aria-controls="payments" role="tab" data-toggle="tab">
                                Pagos
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="records">
                            <div class="row"><br>
                                <div class="col-md-10 col-md-offset-1">
                                    <!-- Text input-->
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Id</th>
                                                <th class="text-center">Piloto</th>
                                                <th class="text-center">Instructor</th>
                                                <th class="text-center">Inicio</th>

                                            </tr>
                                        </thead>
                                        <tbody> 
                                            <tr>
                                                <th class="text-center">Id</th>
                                                <th class="text-center">Piloto</th>
                                                <th class="text-center">Instructor</th>
                                                <th class="text-center">Inicio</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->                           
                </div>
                <div role="tabpanel" class="tab-pane" id="payments">    
                    <div class="row"><br>
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Text input-->
                            <div class="form-group-sm">
                                <label class="col-sm-3 control-label">Fecha Inicio</label>
                                <div class="col-sm-3"> <!-- ng -pattern="^(0[1-9]|1\d|2\d|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$"-->
                                    <input type="text" placeholder="dd/mm/aaaa" ng-model="fr.startFlightDate" class="form-control has-error" required valid-date><br>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group-sm">
                                <label class="col-sm-3 control-label">Hora Inicio</label>
                                <div class="col-sm-3">
                                    <input type="text" placeholder="hh:mm" ng-model="fr.startFlightTime" class="form-control" required 
                                           valid-time><br>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group-sm">
                                <label class="col-sm-3 control-label">Fecha Fin</label>
                                <div class="col-sm-3"> <!--ng-model="fr.endDate"-->
                                    <input type="text" placeholder="dd/mm/aaaa" ng-model="fr.endFlightDate" class="form-control" valid-date><br>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group-sm">
                                <label class="col-sm-3 control-label">Hora Fin</label>
                                <div class="col-sm-3">
                                    <input type="text" placeholder="hh:mm" ng-model="fr.endFlightTime" class="form-control" valid-time><br>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group-sm">
                                <label class="col-sm-2 control-label">Desde</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="" ng-model="fr.origin.name" class="form-control" 
                                           typeahead-on-select="setSelectedOrigin($item)"
                                           uib-typeahead="airfield.name for airfield in airfields | filter:$viewValue | limitTo:8" 
                                           ng-required='fr.isClosed' pattern=".{2,}" typeahead-editable="false"><br>
                                </div>
                                <label class="col-sm-2 control-label">Hasta</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="" ng-model="fr.destiny.name" class="form-control" 
                                           typeahead-on-select="setSelectedDestiny($item)"
                                           uib-typeahead="airfield.name for airfield in airfields | filter:$viewValue | limitTo:8" 
                                           ng-required='fr.isClosed' pattern=".{2,}" typeahead-editable="false"><br>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group-sm">
                                <label class="col-sm-3 control-label">Aterrizajes</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="fr.landings" placeholder="" class="form-control"><br>
                                </div>
                                <label class="col-sm-2 control-label">Tiempo</label>
                                <div class="col-sm-4">
                                    <pre class="form-control">{{fr.amountOfHours}}</pre><br>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group-sm">
                                <label class="col-sm-2 control-label">Concluída</label>
                                <div class="col-sm-4">
                                    <input type="checkbox" ng-model="fr.isClosed" ng-click="updateAmount()"><br>
                                    <br>
                                </div>
                                <label class="col-sm-3 control-label">Valor</label>
                                <div class="col-sm-3">
                                    <pre class="form-control">{{fr.amountOfHours * fr.aircraft.productProfile.product.price| currency:"$":2}}</pre>
                                </div>
                            </div>
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->                           
                </div>
        </div>
    </div>    
</form>
</div>

<div class="modal-footer">
    <div class="error-message"
         ng-show="crear_ficha.$invalid && !crear_ficha.$pristine">
        Completar los campos obligatorios.
    </div><br>
    <button id="cancel" type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Cancelar</button>
    <button id="save" type="button" class="btn btn-primary" ng-disabled="crear_ficha.$invalid" ng-click="save()" >Guardar</button>
</div>
</div>
</div>