<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Pago</h4>
        </div>
        <div class="modal-body">
            <form name="crear_recibo">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" id="tab_1" class="active">
                            <a href="" data-target="#items" aria-controls="items" role="tab" data-toggle="tab">
                                Items
                            </a>
                        </li>
                        <li role="presentation" id="tab_2">
                            <a href="" data-target="#payments" aria-controls="payments" role="tab" data-toggle="tab">
                                Pagos
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="items">
                            <div class="row"><br>
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="col-md-12 col-md-offset-0">
                                        <!-- Text input-->
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr class="table-bordered">
                                                    <th class="text-center">#</th>
                                                    <th class="text-center">Documento</th>
                                                    <th class="text-center">Titular</th>
                                                    <th class="text-center">Fecha</th>
                                                    <th class="text-center">Monto</th>
                                                    <th class="text-center">Referencia</th>
                                                    <th class="text-center">Tipo</th>
                                                    <th class="text-center">Id</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                <tr ng-repeat="financeDocument in financeDocuments">
                                                    <td class="text-center"><input type="checkbox" checked=""></td>
                                                    <td class="text-center">{{financeDocument.legalId}}</td>
                                                    <td class="text-center">{{financeDocument.person.name}}</td>
                                                    <td class="text-center">{{financeDocument.creationDate| date : 'dd/MM/yyyy'}}</td>
                                                    <td class="text-center">{{financeDocument.payments[0].currency}}&nbsp;{{financeDocument.payments[0].amount| currency:"$ ":2}}</td>
                                                    <td class="text-center">{{financeDocument.referencedDocumentId}}</td>
                                                    <td class="text-center">{{financeDocument.documentType}}</td>
                                                    <td class="text-center">{{financeDocument.id}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- /.col-lg-12 -->
                            </div><!-- /.row -->                           
                        </div>
                        <div role="tabpanel" class="tab-pane" id="payments">    
                            <div class="row"><br>
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="col-md-12 col-md-offset-0">
                                        <!-- Text input-->
                                        <table id="payment" class="table table-bordered table-striped">
                                            <thead>
                                                <tr class="table-bordered">
                                                    <th class="text-center">Método</th>
                                                    <th class="text-center">Términos</th>
                                                    <th class="text-center">Recargo</th>
                                                    <th class="text-center">Descuento</th>
                                                    <th class="text-center">Monto</th>
                                                    <th class="text-center">Notas</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                <tr ng-repeat="paymentLine in paymentLines">
                                                    <td class="text-left">      
                                                        <select ng-options="payment.description for payment in payments" 
                                                                ng-model="paymentLine.selectedPayment">                                                         </select>
                                                    </td>
                                                    <td class="text-left">
                                                        <div ng-show="paymentLine.selectedPayment.paymentTerms.length > 0">
                                                            <select ng-options="paymentTerm.description for paymentTerm in paymentLine.selectedPayment.paymentTerms" 
                                                                    ng-model="paymentLine.selectedPaymentTerm">

                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td class="text-center" >
                                                        <div ng-show="paymentLine.selectedPaymentTerm">
                                                            {{paymentLine.selectedPaymentTerm.charge * 100}} %
                                                        </div>
                                                    </td>
                                                    <td class="text-center" >
                                                        <div ng-show="paymentLine.selectedPaymentTerm">
                                                            {{paymentLine.selectedPaymentTerm.discount * 100}} %
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div ng-show="paymentLine.selectedPaymentTerm">
                                                            <input type="text" ng-model="paymentLine.amount">
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div ng-show="paymentLine.selectedPaymentTerm">
                                                            <input type="text" ng-model="paymentLine.notes">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- /.col-lg-12 -->
                            </div><!-- /.row -->                            

                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="col-md-12 col-md-offset-0">
                                        <button id="cancel" type="button" class="btn btn-primary" ng-click="addPaymentLine()" data-dismiss="modal">+</button>

                                    </div>
                                </div>

                            </div>
                            <div class="row"><br>
                                <div class="col-md-2 col-md-offset-0">
                                    <div class="col-md-2 col-md-offset-0">
                                        <!-- Text input-->
                                        <table id="promotion" class="table table-bordered table-striped">
                                            <thead>
                                                <tr class="table-bordered">
                                                    <th class="text-center">Promoción</th>
                                                    <th class="text-center">Porcentaje</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                <tr ng-repeat="promotionLine in promotionLines">
                                                    <td class="text-left">      
                                                        <select ng-options="promotion.description for promotion in promotions" 
                                                                ng-model="promotionLine.selectedPromotion">                                                         </select>
                                                    </td>
                                                    <td class="text-left">
                                                        <div ng-show="paymentLine.selectedPromotion.promotionTerms.length > 0">
                                                            <select ng-options="promotionTerm.description for promotionTerm in promotionLine.selectedPromotion.promotionTerms" 
                                                                    ng-model="promotionLine.selectedPromotionTerm">

                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- /.col-lg-12 -->
                            </div><!-- /.row -->
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="col-md-12 col-md-offset-0">
                                        <button id="cancel" type="button" class="btn btn-primary" ng-click="addPromotionLine()" data-dismiss="modal">+</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row"><br>
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="col-md-12 col-md-offset-0">
                                        <!-- Text input-->
                                        <table id="summary" class="table table-bordered table-striped">
                                            <thead>
                                                <tr class="table-bordered">
                                                    <th class="text-center">Total items</th>
                                                    <th class="text-center">Subtotal</th>
                                                    <th class="text-center">Recargos</th>
                                                    <th class="text-center">Descuentos</th>
                                                    <th class="text-center">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                <tr>
                                                    <td class="text-center">
                                                        <label>{{getTotalItems() | currency:'ARS$ ':2}}</label>
                                                    </td>
                                                    <td class="text-center">
                                                        <label>{{getTotalPayments() | currency:'ARS$ ':2}}</label>
                                                    </td>
                                                    <td class="text-center" >
                                                        <label>{{getTotalPayments() | currency:'ARS$ ':2}}</label>
                                                    </td>
                                                    <td class="text-center">
                                                        <label>{{getTotalPayments() | currency:'ARS$ ':2}}</label>
                                                    </td>
                                                    <td class="text-center">
                                                        <label>{{getTotalPayments() | currency:'ARS$ ':2}}</label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- /.col-lg-12 -->
                            </div><!-- /.row --> 
                        </div>
                    </div>
                </div>    
            </form>
        </div>

        <div class="modal-footer">
            <div class="error-message"
                 ng-show="crear_ficha.$invalid && !crear_ficha.$pristine">
                Completar los campos obligatorios.
            </div>
            <br>
            <button id="cancel" type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Cancelar</button>
            <button id="save" type="button" class="btn btn-primary" ng-disabled="crear_ficha.$invalid" ng-click="save()" >Guardar</button>
        </div>
    </div>
</div>