<!-- Content Header (Page header) -->
<section class="content-header">
   <h1>
       Tareas de Administraci&oacute;n
       <br>
   </h1>
   <ol class="breadcrumb">
     <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
     <li class="active">Administraci&oacute;n</li>
   </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
              <div class="inner" ng-init="orders=1">
              <h3>{{orders}}</h3>

              <p>Socios</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
              <a href="#members" class="small-box-footer" ng-click="orders=orders+1" >Ir <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53</h3>

              <p>Pilotos</p>
            </div>
            <div class="icon">
              <i class="fa fa-male"></i>
            </div>
            <a href="#" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>Fichas de Vuelo</p>
            </div>
            <div class="icon">
              <i class="ion ion-plane"></i>
            </div>
              <a href="#flight_record" class="small-box-footer" ng-click="" >Ir <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Recibos</p>
            </div>
            <div class="icon">
              <i class="fa fa-dollar"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-light-blue">
              <div class="inner" ng-init="orders=1">
              <h3>{{orders}}</h3>

              <p>Movimientos de Cuenta</p>
            </div>
            <div class="icon">
              <i class="fa fa-money"></i>
            </div>
              <a href="#finance_documents" class="small-box-footer">Ir 
                  <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
        </div>
    </div>
</section>
<section class="content-header">
   <h1>
       Datos Maestros
       <br>
   </h1>
</section>
<section class="content">
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Licencias de Vuelo</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Ir <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>Usuarios</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Certificaciones Médicas</p>
            </div>
            <div class="icon">
              <i class="fa fa-plus-square"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
</section>