<!-- Content Header (Page header) -->
<section class="content-header">
   <h1>
       Finanzas
       <small>Panel de Control</small>
       <br>
   </h1>
   <ol class="breadcrumb">
     <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
     <li class="active">Finanzas</li>
   </ol>
</section>
<section class="content">
      <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-light-blue">
              <div class="inner" ng-init="orders=1">
              <h3>{{orders}}</h3>

              <p>Movimientos de Cta</p>
            </div>
            <div class="icon">
              <i class="fa fa-money"></i>
            </div>
              <a href="#finance_documents" class="small-box-footer">Ir 
                  <i class="fa fa-arrow-circle-right"></i>
              </a>
          </div>
        </div>
    </div>
</section>